$primary: #3b8beb;
$secondary: #e5f5fb;
$success: #19b869;
$error: #E74C3C;
$warn: #ffbf45;

$border: #dbdbdb;

$color-dark-1: #252b33;
$color-dark-2: #313944;
$color-dark-3: #3E4856;
$color-dark-4: #646c77;
$color-dark-7: #717171;
$color-dark-8: #919191;

$color-light-1: #FFFFFF;
$color-light-2: #f7f9fa;
$color-light-3: #f2f2f2;
$color-light-4: #eeeff0;
$color-light-6: #c2c2c2;
$color-light-7: #b2b2b2;